TURSO_DATABASE_URL="http://127.0.0.1:8080"
TURSO_AUTH_TOKEN=""
JWT_SECRET="change-me-32+bytes"
REFRESH_HMAC_KEY="change-me-32+bytes"
BASE_API_URL="https://api.dev-gebna.net"
JMAP_BASE_PATH="/jmap"
JMAP_DOWNLOAD_PATH="/jmap/download/{accountId}/{blobId}/{name}?type={type}"
JMAP_UPLOAD_PATH="/jmap/upload/{accountId}"
AWS_SES_ACCESS_KEY_ID=""
AWS_SES_SECRET_ACCESS_KEY=""
SES_WEBHOOK_TOKEN=""
MAIL_UNDO_WINDOW_SECONDS="30"
JMAP_UPLOAD_ACCOUNT_LIMIT_BYTES="536870912"
