BASE_API_URL="https://api.dev-gebna.net"
TURSO_DATABASE_URL="http://127.0.0.1:8080"
TURSO_AUTH_TOKEN=""
JWT_SECRET="openssl rand -hex 32"
FORCED_USER_ID="01KBDTQ80CHVSXP01VN4J74PB4"
SEEDING_ENDPOINTS_ENABLED="false"